* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Фон */
.bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Общие настройки для всех face */
.face {
    position: absolute;
    opacity: 0;

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;

    transform: scale(0.95);
}

/* Активный face */
.face.active {
    opacity: 1;
    transform: scale(1);
}

/* Face 1 */
#f1 {
    left: 15%;
    top: 30%;
    width: 70%;
}

/* Face 2 */
#f2 {
    left: 20%;
    top: 5%;
    width: 60%;
}

/* Face 3 */
#f3 {
    left: 26%;
    top: 30%;
    width: 55%;
}

/* Face 4 */
#f4 {
    left: 15%;
    top: 20%;
    width: 70%;
}